@model CMeShop.Models.StavkaKosarice

@{
    ViewBag.Title = "Ukloni artikal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ukloni artikal iz košarice</h2>

<h3>Da li se sigurni da želite ukloniti artikal @Model.artikal.naziv iz vaše košarice?</h3>
<div>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Ukloni" class="btn btn-default" /> |
        @Html.ActionLink("Povratak na Košaricu", "Index")
    </div>
}

