@model CMeShop.Models.Kosarica

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalji o proizvodu</h2>

<div>
    <h4>Košarica</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Povratak na košaricu", "Index")
</p>
