@model CMeShop.Models.Artikal
<meta http-equiv="Refresh" content="5;URL=@(Url.Action("Index", "Home"))">
@{
    ViewBag.Title = "Dodaj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.Poruka Bit ćete preusmjereni na početnu stranicu.</h4>


