<!doctype html>

<html>
<body>
            <section class="mainContent">

                <div class="productRow">
                    <!-- Each product row contains info of 3 elements -->
                    @for (int i = 1; i <= 25; i++) { 
                    <article class="productInfo">
                        <!-- Each individual product description -->

                        <div><img alt="sample" src="http://townandcountryremovals.com/wp-content/uploads/2013/10/firefox-logo-200x200.png"></div>

                        <p class="price">@i*2.5</p>

                        <p class="productContent">Opis </p>

                        <input type="button" name="button" value="Kupi" class="buyButton">

                    </article>}

  

                </div>

            </section>

    

</body>
</html>

