
@{
    ViewBag.Title = "Uputstvo za korištenje stranice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Uputstvo za korištenje stranice</h2>

<div id="pdf">
    <object width="1200" height="800" type="application/pdf" data="http://localhost:54937/Content/Guide/UputstvoZaKoristenje.pdf" id="pdf_content">
        <p>Neuspješno prikazivanje fajla.</p>
    </object>
</div>