
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Greška</h2>
<h3>Niste autorizovani za pristup ovoj stranici. Kliknite @Html.ActionLink("ovdje", "Index", "Home") za povratak na početnu stranicu.</h3>


