@{
    ViewBag.Title = "Korisnici Sistema";
}

<h2>Administracija korisnika online prodavnice</h2>

<h3>@Html.ActionLink("Kupci", "Kupci")</h3>
<h3>@Html.ActionLink("Dobavljači", "Dobavljaci")</h3>
<h3>@Html.ActionLink("Dostavljači", "Dostavljaci")</h3>


