body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Product rows for catalog */
#content .mainContent .productRow {
    overflow: auto;
    color: rgba(146,146,146,1.00);
}
/* Each product Information in the catalog */
.mainContent .productRow .productInfo {
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    width: 22%;
}
/* Prices of a products in catalog */
.productRow .productInfo .price {
    font-family: 'Montserrat', sans-serif;
    color: rgba(146,146,146,1.00);
    font-size: 22px;
    position: relative;
    top: -20px;
    padding-top: 20px;
}
/* Content holder for products in catalog*/
.productRow .productInfo .productContent {
    position: relative;
    top: -37px;
    font-size: 14px;
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: rgba(146,146,146,1.00);
    white-space: pre-wrap;
}
/* Buy button for products in catalog */
.productRow .productInfo .buyButton {
    position: relative;
    top: -48px;
    width: 84%;
    background-color: rgba(125, 255, 22, 1);
    height: 35px;
    color: rgba(255,255,255,1.00);
    border-style: none;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 8px;
    left: 25px;
}
